# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\mmurray\OneDrive - GMIT\Modules\Year 3\2020\CourseWork\Y3AJ20_21\GroupAB1\IntelliJGUIDesigner\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
